.email-sec {
  position: relative;
  width: 100%;
  /* border: 1px solid rgb(13, 0, 255); */
}

.email-page {
  height: 240px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translate(-50%, 0);
  /* border: 1px solid rgb(13, 0, 255); */
}

.email-content {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid rgb(0, 81, 255); */
}

.email-content p {
  width: 33%;
  padding-right: 30px;
  font-size: 22px;
  color: #232323;
  font-weight: bold;
  text-transform: capitalize;
  /* border: 1px solid rgb(255, 0, 0); */
}

.email-submit {
  width: 65%;
  position: relative;
  overflow: hidden;
  /* border: 1px solid rgb(255, 0, 0); */
}

.email-content input {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgb(86, 46, 181);
}

.email-content button {
  position: absolute;
  top: 23%;
  right: 1%;
  border: 1px solid #fff;
  width: 170px;
  height: 60%;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  animation: submitAnimate 0.5s infinite 0s;
  /* border: 1px solid rgb(0, 254, 55); */
}
.email-content button:hover {
  background: linear-gradient(to right, rgba(166, 52, 126), rgb(86, 46, 181));
  animation: none;
}
@keyframes submitAnimate {
  0%,
  100% {
    background: linear-gradient(
      to top left,
      rgba(166, 52, 126),
      rgb(86, 46, 181)
    );
  }
  25% {
    background: linear-gradient(
      to top right,
      rgb(195, 47, 143),
      rgb(86, 46, 181)
    );
  }
  50% {
    background: linear-gradient(
      to bottom right,
      rgb(234, 37, 165),
      rgb(86, 46, 181)
    );
  }

  75% {
    background: linear-gradient(
      to bottom left,
      rgb(195, 47, 143),
      rgb(86, 46, 181)
    );
  }
}
/* ------------------------------ Responsive for ipad */

@media only screen and (max-width: 1000px) {
  .email-page {
    width: 95% !important;
  }
  .email-content {
    width: 90%;
  }
  .email-content p {
    width: 100%;
    font-size: 18px;
  }
  .email-submit {
    width: 100%;
  }
  .email-content input {
    height: 60px;
    margin-top: 0;
  }
  .email-content button {
    width: 100px;
    height: 50px;
    top: 8%;
    font-size: 15px;
  }
}
/* ------------------------------ Responsive for mobile */

@media only screen and (max-width: 450px) {
  .email-page {
    width: 95% !important;
  }
  .email-content {
    width: 90%;
  }
  .email-content p {
    width: 100%;
    font-size: 18px;
  }
  .email-submit {
    width: 100%;
  }
  .email-content input {
    height: 60px;
    margin-top: 0;
  }
  .email-content button {
    width: 100px;
    height: 50px;
    top: 8%;
    font-size: 15px;
  }
}
